{% extends 'base-admin.html.twig' %}
{% set page_title = 'Edit Price' %}

{% block body %}
    <h1>Edit Price</h1>

    {{ include('price/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_price_index') }}">back to list</a>

    {{ include('price/_delete_form.html.twig') }}
{% endblock %}
