{% extends 'base-admin.html.twig' %}
{% set page_title = 'Price' %}

{% block body %}
    <h1>Price</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for price in prices %}
            <tr>
                <td>{{ price.id }}</td>
                <td>{{ "%.2f"|format(price.price) }} {{ setting.currencySymbol}}</td>
                <td>
                    <a href="{{ path('app_price_show', {'id': price.id}) }}">show</a>
                    <a href="{{ path('app_price_edit', {'id': price.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_price_new') }}">Create new</a>
{% endblock %}
