{% extends 'base-admin.html.twig' %}
{% set page_title = 'Price' %}

{% block body %}
    <h1>Create new Price</h1>

    {{ include('price/_form.html.twig') }}

    <a href="{{ path('app_price_index') }}">back to list</a>
{% endblock %}
