{% extends 'base-admin.html.twig' %}
{% set page_title = 'Price' %}

{% block body %}
    <h1>Price</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ price.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ "%.2f"|format(price.price) }} {{ setting.currencySymbol}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_price_index') }}">back to list</a>

    <a href="{{ path('app_price_edit', {'id': price.id}) }}">edit</a>

    {{ include('price/_delete_form.html.twig') }}
{% endblock %}
