{% extends 'base.html.twig' %}
{% set page_title = 'Settings' | trans  %}


{% block body %}
	<div class="title">
		<h1>{{'Account' | trans }}</h1>
	</div>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message|trans }}
		</div>
	{% endfor %}
	<div class="form_wrapper">
		{{ include('setting/_form.html.twig', {'button_label': 'Update' | trans }) }}
	</div>
{% endblock %}
