{% set lessonTime = '+'  ~ setting.lessonTime  ~ ' minute' %}
<div class="title">
	<h1>{{'Lesson history' | trans }}</h1>
</div>
<p class="mt-4">{{'Number of Lessons' | trans }} :
	{{ total_lesson_count }}
	{{'times' | trans }}.</p>
<p>{{'Total lesson time' | trans }} :
	{{ total_lesson_time }}
	{{'min' | trans }}.</p>

<div class="pagination mt-4">
	{{ knp_pagination_render(lessons) }}
</div>


<table class="table">
	<thead>
		<tr>
			<th>{{'Lesson Id' | trans }}</th>
			<th>{{'Lesson date' | trans }}</th>
			<th>{{'Lesson time' | trans }}</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for lesson in lessons %}
			<tr>
				<td>{{ lesson.id }}</td>
				<td>{{ lesson.datetime | date_modify(timeDifference)| date('Y-m-d') }}
					({{ lesson.datetime | date_modify(timeDifference)| date('l') }})</td>
				<td>{{ lesson.datetime | date_modify(timeDifference)| date('H:i') }}
					-
					{{lesson.dateTime|date_modify(timeDifference)|date_modify(lessonTime)|date('H:i')}}
				</td>
				<td>{{ setting.lessonTime }}
					min.
				</td>
				{% if is_granted('ROLE_ADMIN') %}
					<td>{{ lesson.student.lastname }}
						{{ lesson.student.firstname }}</td>
				{% endif %}

			</tr>
		{% else %}
			<tr>
				<td colspan="3">{{'No lesson history yet' | trans }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<div class="pagination">
	{{ knp_pagination_render(lessons) }}
</div>
