<div class="container margin-xl">
	<h1 class="mb-5">{{setting.siteTitle}}</h1>
	<p class="mt-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro magnam nesciunt esse fuga quidem obcaecati ipsa sed, tempore veniam voluptatum et nobis ex reprehenderit voluptatem blanditiis tenetur adipisci sunt quos.</p>
</div>

<section>
	<div class="container">
		<div class="row">
			<div class="col-xl-4">
				<img class="picture" src="{{asset('/build/images/ben.jpg')}}" alt="A man">
			</div>
			<div class="col-xl-8">
				<p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro magnam nesciunt esse fuga quidem obcaecati ipsa sed, tempore veniam voluptatum et nobis ex reprehenderit voluptatem blanditiis tenetur adipisci sunt quos.</p>
				<p class="mt-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro magnam nesciunt esse fuga quidem obcaecati ipsa sed, tempore veniam voluptatum et nobis ex reprehenderit voluptatem blanditiis tenetur adipisci sunt quos.</p>
				<div class="mobile">
					<a class="btn btn-info btn-lg mt-5 btn_flat" href="{{ path('app_register') }}">{{'Sign up for free lesson' | trans}}</a>
				</div>
			</div>
		</div>
	</div>
</section>


<section>
	<div class="container">
		<div class="row ">
			<div class="col-xl-7">
				<p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro magnam nesciunt esse fuga quidem obcaecati ipsa sed, tempore veniam voluptatum et nobis ex reprehenderit voluptatem blanditiis tenetur adipisci sunt quos.</p>

				<p class="mt-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro magnam nesciunt esse fuga quidem obcaecati ipsa sed, tempore veniam voluptatum et nobis ex reprehenderit voluptatem blanditiis tenetur adipisci sunt quos.</p>

				<div class="mobile">
					<a class="btn btn-info btn-lg mt-5 btn_flat" href="{{ path('app_register') }}">{{'Sign up for free lesson' | trans}}</a>
				</div>
			</div>
			<div class="col-xl-5">
				<img class="picture" id="picture2" src="{{asset('/build/images/true-agency.jpg')}}" alt="working man">
			</div>
		</div>
	</div>
</section>

<section class="icons">
	<div class="container">
		<div class="row">
			<div class="icon-colums col-xl-4">
				<div class="text-center">
					<i class="fa-solid fa-globe"></i>
				</div>
				<p class="text-center">voluptatem</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro magnam nesciunt esse fuga quidem obcaecati ipsa sed</p>
			</div>
			<div class="icon-colums col-xl-4">
				<div class="text-center">
					<i class="fa-solid fa-globe"></i>
				</div>
				<p class="text-center">voluptatem</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro magnam nesciunt esse fuga quidem obcaecati ipsa sed</p>
			</div>
			<div class="icon-colums col-xl-4">
				<div class="text-center">
					<i class="fa-solid fa-globe"></i>
				</div>
				<p class="text-center">voluptatem</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro magnam nesciunt esse fuga quidem obcaecati ipsa sed</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-xl-4">
				<div class="card">
					<img class="card-img-top" src="{{asset('/build/images/testimonials/testimonial-image01.jpg')}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="card">
					<img class="card-img-top" src="{{asset('/build/images/testimonials/testimonial-image02.jpg')}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="card">
					<img class="card-img-top" src="{{asset('/build/images/testimonials/testimonial-image03.jpg')}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>


			</div>
		</div>
	</section>


	<section>
		<div class="container">
			<h2 class="mt-5">Frequently Asked Questions</h2>
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Accordion Item #1
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<strong>This is the first item's accordion body.</strong>
							It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
							<code>.accordion-body</code>, though the transition does limit overflow.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Accordion Item #2
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<strong>This is the second item's accordion body.</strong>
							It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
							<code>.accordion-body</code>, though the transition does limit overflow.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Accordion Item #3
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<strong>This is the third item's accordion body.</strong>
							It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
							<code>.accordion-body</code>, though the transition does limit overflow.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
