{% set lessonTime = '+'  ~ setting.lessonTime  ~ ' minute' %}
{% set minBeforeEntry = '+'  ~ setting.minBeforeEntry  ~ ' minute' %}

<div class="table-container">
	<table class="table table-bordered table-my-reservation mt-5">
		<tbody>
			{% for eachReservation in myReservation %}
				<tr>
					<td>
						{{'Lesson ID' | trans }} :
						{{eachReservation.id}}<br>
					</td>
					<td>
						{{eachReservation.dateTime|date_modify(timeDifference)|date('l')| trans}}<br>
						{{eachReservation.dateTime|date_modify(timeDifference)|date('Y-m-d')}}
					</td>
					<td>
						{{eachReservation.dateTime|date_modify(timeDifference)|date('H:i')}}
						-
						{{eachReservation.dateTime|date_modify(timeDifference)|date_modify(lessonTime)|date('H:i')}}
					</td>
					{% if is_granted('ROLE_ADMIN') %}
						<td class="table-row">
							{{eachReservation.student.lastname}}
							{{eachReservation.student.firstname}}
						</td>
					{% endif %}

					<td class="table-row">

						{% if eachReservation.dateTime|date_modify(timeDifference) <= "now"|date_modify(timeDifference)|date_modify(minBeforeEntry)  %}
							{% if  is_granted('ROLE_ADMIN') %}
								<button id="join" class="btn btn-info btn-lg" lesson-id={{eachReservation.student.id}} data-id="11">{{'Enter the lesson room' | trans }}</button>
							{% else %}
								<button id="join" class="btn btn-info btn-lg" lesson-id={{eachReservation.student.id}} data-id={{eachReservation.student.id}}>{{'Enter the lesson room' | trans }}</button>
							{% endif %}
						{% else %}
							<button class="btn btn-danger btn-lg " disabled>{{'You can enter the room' | trans }}
								{{ setting.minBeforeEntry }}
								{{'minutes before the starting time' | trans }}</button>
						{% endif %}

					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
