<div class="title">
	<h1>{{'My Reservation' | trans }}</h1>
</div>
{% if myReservation %}
	<p class="mt-5">{{'You can enter the classroom' | trans }}
		{{setting.minBeforeEntry}}
		{{'minutes before the lesson start. Please click the button and proceed to the lesson.' | trans }}</p>
{% endif %}
{% set lessonTime = '+'  ~ setting.lessonTime  ~ ' minute' %}
{% set minBeforeEntry = '+'  ~ setting.minBeforeEntry  ~ ' minute' %}

<table class="table">
	<thead>
		<tr>
			<th>{{'Lesson ID' | trans }}</th>
			<th>{{'Date' | trans }}</th>
			<th>{{'Time' | trans }}</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for eachReservation in myReservation %}
			<tr>
				<td>
					{{eachReservation.id}}
				</td>
				<td>
					{{eachReservation.dateTime|date_modify(timeDifference)|date('l') | trans}}<br>
					{{eachReservation.dateTime|date_modify(timeDifference)|date('Y-m-d')}}
				</td>
				<td>
					{{eachReservation.dateTime|date_modify(timeDifference)|date('H:i')}}
					-
					{{eachReservation.dateTime|date_modify(timeDifference)|date_modify(lessonTime)|date('H:i')}}
				</td>
				{% if is_granted('ROLE_ADMIN') %}
					<td class="table-row">
						{{eachReservation.student.lastname}}
						{{eachReservation.student.firstname}}
					</td>
				{% else %}
					<td></td>
				{% endif %}
				<td>
					{% if eachReservation.dateTime|date_modify(timeDifference) <= "now"|date_modify(timeDifference)|date_modify(minBeforeEntry) %}
						{% if is_granted('ROLE_ADMIN') %}
							<a class="btn btn-primary" href="{{ path('app_home') }}">Begin class</a>
						{% else %}
							<a class="btn btn-primary" href="{{ path('app_home') }}">Take Lesson</a>
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% else %}
			<tr>
				<td>
					<p>{{'No reservations yet' | trans }}</p>
					{% if not is_granted('ROLE_ADMIN') %}
						<a href="{{path('app_reservation_new')}}" class="btn btn-info btn_flat mt-5">{{'Book now' | trans }}</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
