{% extends 'base.html.twig' %}
{% set page_title = 'Contact' | trans %}

{% block body %}
	<div class="box0">
		<div class="title">
			<h1 class="h1">{{'Contact Me' | trans }}</h1>
		</div>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{{form_start(form)}}
		<p class="mt-5"><small>{{'Please note ➡️ All fields are required.' | trans }}</small></p>
		<div class="row">
			<div class="col-xl-6">
				{{form_row(form.firstname,{
			'label':'First Name'
		})}}
			</div>
			<div class="col-xl-6">
				{{form_row(form.lastname,{
			'label':'Last Name'
		})}}
			</div>
		</div>

		<div class="row">
			<div class="col-xl-12">
				{{form_row(form.email,{
			'label':'Email'
		})}}
			</div>
		</div>

		<div class="row address-area">
			<div class="col-xl-4">
				{{form_row(form.address,{
			'label':'Address'
		})}}
			</div>
		</div>

		<div class="row">
			<div class="col-xl-12">
				{{form_row(form.message,{
			'label':'Comments'
		})}}
			</div>
		</div>
		{{form_row(form.privacy,{

		})}}
		<button type="submit" class="btn btn-info btn_flat">{{'Send Message' | trans }}</button>

		{{form_end(form)}}
	</div>
{% endblock %}
