{% extends 'base-admin.html.twig' %}

{% set page_title = 'Admin home' %}

{% block body %}
	<div class="container margin-xl">
		<div id="reservation-wrapper">
			<h1>{{ 'Your next lesson'|trans }}</h1>

			{% if myReservation %}
				{% include 'home/_index.html.twig' %}
			{% else %}
				<p class="mt-5">{{ 'No lessons booked yet.'|trans }}</p>
			{% endif %}
		</div>
		<div id="video-wrapper">
			<div id="remote-video"></div>
			<div id="local-video"></div>
		</div>
		<div id="video-control">
			<button class="btn btn-primary" id="leave" style="display:none;">{{ 'Leave'|trans }}</button>
		</div>
	</div>

{% endblock %}
