{% extends 'base-home.html.twig' %}
{% set page_title = 'Home' %}

{% block body %}


	{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
		{% include 'home/_homepage.html.twig' %}
	{% endif %}

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<div class="container margin-xl">
			<div id="reservation-wrapper">
				<div class="title">
					<h1>{{ 'Your next lesson'|trans }}</h1>
				</div>

				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}

				{% if myReservation %}
					{% include 'home/_index.html.twig' %}
				{% else %}
					<p class="mt-5">{{ 'No lessons booked yet.'|trans }}
						<a href="{{path('app_reservation_new')}}" class="btn btn-info btn_flat">{{ 'Book now'|trans }}</a>
					</p>
				{% endif %}
			</div>
			<div id="video-wrapper">
				<div id="remote-video"></div>
				<div id="local-video"></div>
			</div>
			<div id="video-control">
				<button class="btn btn-primary btn_flat" id="leave" style="display:none;">{{ 'Leave'|trans }}</button>
			</div>

		</div>
	{% endif %}

{% endblock %}
