{% extends 'base.html.twig' %}
{% set page_title = 'Request a booking' | trans  %}

{% block body %}
	<div class="title">
		<h1>{{'Lesson Reservation' | trans }}</h1>
	</div>
	<p class="mt-5">{{'Click the button for the date and time you wish to reserve a lesson.' | trans }}<br>
		{{'Blue is the available time. Your reservation will be shown in orange.' | trans }}<br>
		{{'Lesson tickets are required for reservations.' | trans }}</p>
	<div class="table-container">
		<table class="table table-bordered table-reservation mt-5">
			<tbody>
				{% for i in 0..6 %}
					<tr>
						<td class="table-row">
							{{availableTable[i]['date']|date_modify(timeDifference)|date('l') | trans }}<br>
							{{availableTable[i]['date']|date_modify(timeDifference)|date('Y-m-d')}}
						</td>
						<td class="table-row">
							{% for schedule in availableTable[i]['schedule'] %}

								{% if schedule['available']== null %}
									<button class="btn btn-warning btn-lg btn-reservation" data-date="{{ schedule['myReservation']|date('Y-m-d H:i:s') }}" user-date="{{ schedule['myReservation']|date_modify(timeDifference)|date('Y-m-d H:i:s') }}" data-status="reserved" data-user="{{ app.user.id }}" data-ticket-count="{{app.user.ticket}}">{{ schedule['myReservation']|date_modify(timeDifference)|date('H:i') }}</button>

								{% else %}
									<button class="btn btn-info btn-lg btn-reservation" data-date="{{ schedule['available']|date('Y-m-d H:i:s') }}" user-date="{{ schedule['available']|date_modify(timeDifference)|date('Y-m-d H:i:s') }}" data-status="vacant" data-user="{{ app.user.id }}" data-ticket-count="{{app.user.ticket}}">{{ schedule['available']|date_modify(timeDifference)|date('H:i') }}</button>

								{% endif %}

							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- Reservation confirm modal -->
	<div class="modal" id="reserv-confirm-modal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Reservation Confirmation</h4>
					<button type="button" class="btn-close btn-modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body table-reservation-confirm">
					<tbody>
						<p class="text-danger no-ticket" style="display:none;">There are not enough tickets, please purchase them</p>
						<p></p>
						<p class="have-ticket">Please confirm your reservation after checking.</p>
						<table class="table table-bordered">
							<tbody>
								<tr>
									<td>Date and time
									</td>
									<td class="confirm-date"></td>
								</tr>
								<tr>
									<td>Number of tickets required</td>
									<td id="confirm-required-ticket">
										1</td>
								</tr>
								<tr>
									<td>Number of tickets you currently have</td>
									<td id="confirm-current-ticket">
										2</td>
								</tr>
							</tbody>
						</table>
					</tbody>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-lg btn-danger btn-modal-close" data-bs-dismiss="modal">Cancel</button>
					<a class="btn btn-lg btn-warning no-ticket" id="buy-tickets-btn" href="{{path('app_ticket')}}">Buy Tickets</a>
					<button type="button" class="btn btn-lg btn-info" id="confirm-reservation-btn">Confirm Reservation</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Reservation cancel modal -->
	<div class="modal" id="reserv-cancel-modal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Reservation Cancel</h4>
					<button type="button" class="btn-close btn-modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body table-reservation-confirm">
					<p>Are you sure to cancel your reservation?</p>
					<div class="reservation-date">
						<p class="text-center">Your reservation</p>
						<p class="confirm-date text-center"></p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-lg btn-danger btn-modal-close" data-bs-dismiss="modal">Return</button>
					<button type="button" class="btn btn-lg btn-info" id="cancel-reservation-btn">Cancel my reservation</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
