{% extends 'base.html.twig' %}

{% set page_title = 'Confirmation' %}

{% block body %}

<div class="mt-5">
    <p>A confirmation email has been sent to your registered email address.</p>
    <p>Please click on the URL in the email within 24 hours to complete your registration.</p>
</div>
{% endblock %}
