{% extends 'base.html.twig' %}
{% set page_title = 'Register'  | trans %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1 class="page_ttl">{{'Register' | trans }}</h1>
	<div class="form_bg mt-5">
		<div class="form_wrapper">
			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.firstname) }}
			{{ form_row(registrationForm.lastname) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword) }}
			{{ form_row(registrationForm.locale) }}
			{{ form_row(registrationForm.timezone) }}
			<div class="mt-3">
				{{ form_row(registrationForm.agreeTerms) }}
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-outline-primary btn_flat mt-5">{{'Register' | trans }}</button>
			</div>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
