{% extends 'base-admin.html.twig' %}
{% set page_title = 'Schedule' | trans  %}

{% block body %}
	<h1>{{'Schedule' | trans }}</h1>
	<p>{{'Please click on "Off" button at your preferred time for having a class.' | trans }}<br>
	{{'Once the slot turns to "Available", it will be shown on student\'s website so that students can reserve your class.' | trans }}</p>

	<table class="table table-striped sticky-table">
		<thead>
			<tr>
				<th></th>
				{% for eachDaySchedule in scheduleTable %}
					<th class="text-center">{{ eachDaySchedule.date|date('l') | trans }}<br>{{eachDaySchedule.date|date('Y-m-d') }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for i in 0..47 %}
				<tr>
					<td>
						{{scheduleTable[0]['schedule'][i]['start-time']}}
					</td>
					{% for eachDaySchedule in scheduleTable %}
						<td class="text-center">
							{% if eachDaySchedule['schedule'][i]['on-off']== 'Available' %}
								<button class="btn-warning btn-on-off" data-date={{ eachDaySchedule.date |date('Y-m-d') }} data-time={{eachDaySchedule['schedule'][i]['start-time']}}>{{ eachDaySchedule['schedule'][i]['on-off'] }}</button>
							{% elseif eachDaySchedule['schedule'][i]['on-off']== 'Closed' %}
								<button class="btn-danger" disabled data-date={{ eachDaySchedule.date |date('Y-m-d') }} data-time={{eachDaySchedule['schedule'][i]['start-time']}}>{{ eachDaySchedule['schedule'][i]['on-off'] }}</button>
							{% elseif eachDaySchedule['schedule'][i]['on-off']== 'Reserved' %}
								<button class="btn-info" disabled data-date={{ eachDaySchedule.date |date('Y-m-d') }} data-time={{eachDaySchedule['schedule'][i]['start-time']}}>{{ eachDaySchedule['schedule'][i]['on-off'] }}</button>
							{% else %}
								<button class="btn-secondary btn-on-off px-3" data-date={{ eachDaySchedule.date |date('Y-m-d') }} data-time={{eachDaySchedule['schedule'][i]['start-time']}}>{{ eachDaySchedule['schedule'][i]['on-off'] }}</button>
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
