{% extends 'base.html.twig' %}
{% set page_title = 'Buy Tickets' | trans  %}

{% block body %}
	<h1>{{'Buy Tickets' | trans }}</h1>

	{% for label, flashes in app.session.flashbag.all %}
		{% for flash in flashes %}
			{% if ( label == 'success' ) %}
				<div class="alert alert-success fade show">
					{{ flash }}
				</div>
			{% elseif ( label == 'error' ) %}
				<div class="alert alert-danger fade show">
					{{ flash }}
				</div>
			{% endif %}
		{% endfor %}
	{% endfor %}

	<h3 class="mt-5">
		{{'You have actually' | trans }}
		<strong>{{ ticketNumber }}</strong>
		{{ ticketNumber  == 0 ? 'ticket ' : 'tickets ' }}

		{% if bookNow is same as true %}
			<a class="btn btn-info" href="{{ path('app_reservation_new') }}">Book now</a>
		{% endif %}

	</h3>

	{{ form_start(form) }}

	<div class="form-check buy-ticket mt-2">

		{{form_row(form.product,{
			'label':'Select the number of tickets',
		})}}
	</div>
	<div class="mobile">
		<button class="btn btn-primary mt-2 mb-5 btn_flat">{{ button_label|default('Buy now') | trans }}</button>
	</div>
	{{ form_end(form) }}

{% endblock %}
