{% extends 'base.html.twig' %}
{% set page_title = 'Login' | trans %}

{% block body %}


	<h1 class="page_ttl">{{'Login' | trans }}</h1>
	<div class="form_bg mt-5">
		<div class="form_wrapper">
			{% if error %}
				<div class="login-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<form action="{{ path('app_login') }}" method="post">
				<label for="username" class="form-label item_ttl">{{'Email' | trans }}:</label>
				<input type="text" id="username" class="form-control input_item" name="_username" value="{{ last_username }}"/>

				<label for="password" class="form-label item_ttl">{{'Password' | trans }}:</label>
				<input
				type="password" id="password" class="form-control input_item" name="_password"/>

				{# If you want to control the URL the user is redirected to on success
																			        <input type="hidden" name="_target_path" value="/account"/> #}
				<div class="text-center">
					<button class="btn btn-outline-primary btn_flat mt-5" type="submit">{{'Login' | trans }}</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
