{% extends 'base-admin.html.twig' %}
{% set page_title = 'Settings' | trans %}


{% block body %}
	<h1>{{'Settings' | trans }}</h1>

    {% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	{{ include('setting/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
