{% extends 'base-admin.html.twig' %}
{% set page_title = 'Ticket' %}

{% block body %}
	<h1>Ticket</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Ticket number</th>
        <th>Price</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.id }}</td>
					<td>{{ product.name }}</td>
					<td>{{ product.ticketNumber }}</td>
					<td>{{ "%.2f"|format(product.price.price) }} {{ setting.currencySymbol }}</td>
					<td>
						<a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
						<a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
