{% extends 'base-admin.html.twig' %}
{% set page_title = 'Product' %}

{% block body %}
    <h1>Create new Product</h1>

    {{ include('product/_form.html.twig') }}

    <a class="btn btn-secondary text-black mt-2 mb-5" href="{{ path('app_product_index') }}">back to list</a>
{% endblock %}
