{% extends 'base-admin.html.twig' %}
{% set page_title = 'Product' %}

{% block body %}
	<h1>Product</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ product.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ product.name }}</td>
			</tr>
			<tr>
				<th>Price</th>
				<td>{{ "%.2f"|format(product.price.price) }} {{ setting.currencySymbol}}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_product_index') }}">back to list</a>

	<a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>

	{{ include('product/_delete_form.html.twig') }}
{% endblock %}
