@import "./global.scss";
@import "./nav_footer.scss";
@import "./backoffice.scss";
@import "./homepage.scss";
@import "./form.scss";

html,
body {
  background: $bg_primary;
  font-family: "Encode Sans", sans-serif;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.title > h1 {
  @media only screen and (max-width: 1000px) {
    text-align: center;
  }
}
p,
.buy-ticket {
  font-size: 1.2rem;
  @media only screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
  }
}
.logo {
  margin-left: 5px !important;
  width: auto !important;
  height: 50px;
  @media only screen and (max-width: 1000px) {
    width: 120px;
  }
}
.reservation-wrapper {
  text-align: center;
}
.table-reservation {
  .table-row {
    padding: 2rem !important;
    font-size: 1.3rem;
  }
}
.table-my-reservation {
  font-size: 1.3rem;
  td {
    vertical-align: middle;
  }
}
.table-container {
  width: 65vw;
  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}
.table-reservation-confirm {
  font-size: 1.3rem;
  .reservation-date {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.modal-dialog {
  @media only screen and (min-width: 576px) {
    max-width: 700px;
  }
}
#local-video {
  margin: 2rem;
  @media only screen and (max-width: 800px) {
    margin: 2rem 0 0 0;
  }
}
#remote-video {
  margin: 2rem;
  @media only screen and (max-width: 800px) {
    margin: 0;
  }
}
#video-control {
  margin-top: 5rem;
}
#video-wrapper {
  display: flex !important;
  @media only screen and (max-width: 800px) {
    flex-direction:column;
  }

}
.btn-reservation {
  margin: 5px;
}

.address-area {
  display: none;
}
.box0 {
  @media only screen and (max-width: 1000px) {
    width: 80%;
    margin: 3rem auto;
  }
}
.specific-textarea {
  height: 150px !important;
}

a {
  color: $a;
  &:hover {
    color: $a_hover;
  }
}
.login-error {
  color: $danger;
}

.container-fluid{
  @media only screen and (max-width: 1000px) {
    display: block !important;
  }
}
.nav-right{
  @media only screen and (max-width: 1000px) {
    text-align: center !important;
  }
}
.dropdown-menu{
  @media only screen and (max-width: 1000px) {
    text-align: center !important;
  }
}
.nav-item > .btn {
  @media only screen and (max-width: 1000px) {
    width: 60% !important;
  }
}
