.sticky-table {
  width: 80vw !important;
  thead {
    display: block;
  }
  tbody {
    display: block;
    overflow-y: scroll;
    height: 800px;
  }
  td,
  th {
    width: 20vw;
  }
}
.btn-on-off{
  padding: 0 10px;
}
.vich-image img {
  width: 120px;
}
