// Form Login,Register
.page_ttl {
  font-size: 2.2rem;
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
}
.form_bg {
  background: $form_bg;
  padding: 40px 50px;
}
.form_wrapper {
  width: 100%;
  max-width: 740px;
  margin: 20px auto;
  @media only screen and (max-width: 479px) {
    margin: 20px auto 0;
  }
}
.item_ttl {
  margin: 5px 0;
  font-size: 1.4rem;
  font-weight: 500;
}
.input_item {
  font-size: 1.4rem;
}
.btn_flat {
  @media only screen and (max-width: 1000px) {
    max-width: 340px;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
  }
}
.mobile, #video-control{
  @media only screen and (max-width: 1000px) {
    display: flex;
    justify-content: center;
  }
}
.input_check {
  width: 1.25rem;
  height: 1.25rem;
}
