//customize some Bootstrap variables
$primary: #79add4;
$secondary: #8f8ff0;
$success:#6acccc;
$danger: #f59871;
$warning:#fad585;
$info: #69b6b6;
$form_bg:#ffffff;
$table_border :rgb(190, 179, 179);
$bg_primary:#e4eeee;
$bg_secondary:#659090;
$a:#0a3e7d;
$a_hover:#0e66d2;
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
