.picture {
  width: 400px;
  border-radius: 20px;
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}
#picture2 {
  margin-top: 2rem;
  @media only screen and (max-width: 1200px) {
    display: none;
  }
}
.icons {
  padding: 2rem 0;
  background-color: $bg_secondary;
  .svg-inline--fa {
    height: 3em;
    background-color: $white;
    padding: 2rem;
    border-radius: 50%;
  }
}

.cerd {
  width: 18rem;

  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}
section {
  margin: 7rem 0;
}

#goTopBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  @media only screen and (max-width: 1000px) {
    width: 10vw;
  }
}
