.margin-xl {
  margin-top: 6rem;
}
.nav_btn {
  margin-left: 10px;
  @media only screen and (max-width: 479px) {
    margin-top: 0;
    margin-top: 10px;
  }
}
.sidebar {
  padding: 0 !important;
}
.nav-right{
  margin-right: 30px;
}
.nav-item-back {
  height: 6rem;
  display: table;
  &:hover {
    background-color: $white;
  }
}
.nav-link-back {
  padding-left: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  display: table-cell;
  vertical-align: middle;
  color: $a;
  text-decoration: none;
  &:hover {
    color: $a_hover;
  }
}

.ticket {
  color: $success;
}

.nav-item{
  font-size: 1.3rem;
  a{
    color:$black !important;
    &:hover {
      color: $a_hover;
    }
  }
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.left-sidebar{
  margin-top: 100px;
}

.footer{
  flex-shrink: 0;
  background-color: $bg_secondary;
  padding: 3rem 0;
  .f-icons{
    display: flex;
    align-items:center;
    justify-content:center;
  }
  .svg-inline--fa {
    height: 1em;
    background-color: $white;
    padding: 1rem;
    border-radius: 50%;
    margin: 0.2rem;
    cursor: pointer;
  }
}
