		{% include 'header.html.twig' %}
		{% include 'navbar-admin.html.twig' %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-2 bg-light sidebar">
					{% include 'sidebar-admin.html.twig' %}
				</div>
				<main role="main" class="col-10 margin-xl">
					{% block body %}{% endblock %}
				</main>
			</div>
		</div>
	</body>
</html>
