{% include 'header.html.twig' %}
{% include 'navbar.html.twig' %}
<div class="content container-xl margin-xl">
	<main role="main" class="lower mb-5"> {% block body %}{% endblock %}
	</main>
	<img src="{{asset('/build/images/top.png')}}" alt="top" id="goTopBtn" title="Go to top">
</div>
	{% include 'footer.html.twig' %}
</body></html>
