<div class="footer">
	<div class="footer-container">
		<div class="row mt-5">
			<div class="col-xl-4"></div>
			<div class="col-xl-4">
				<p class="text-center">{{setting.siteTitle}}</p>
			</h6>
			<p class="text-center mt-3 article">
				<a class="footer-link" href="{{path('app_contact')}}">{{'Contact' | trans }}</a>
			</p>
			<p class="text-center mt-3 article">
				<a class="footer-link" href="{{path('app_home')}}">{{'Privacy Policy' | trans }}</a>
			</p>
			<p class="text-center mt-3 article">
				<a class="footer-link" href="{{path('app_home')}}">{{'Terms of use' | trans }}</a>
			</p>
		</div>
		<div class="col-xl-4 f-icons">
			<i class="fa-brands fa-twitter"></i>
			<i class="fa-brands fa-facebook"></i>
			<i class="fa-brands fa-instagram"></i>
			<i class="fa-brands fa-line"></i>
		</div>
	</div>
</div></div>
