<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{path('app_home')}}"><img class="logo" src="{{ vich_uploader_asset(setting) }}" title="Go to home" alt="Logo"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="nav-right">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_home')}}">{{'Next lesson' | trans }}</a>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								{{'My menu' | trans }}
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="{{path('app_account')}}">{{'My account' | trans }}</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{path('app_lesson_history')}}">{{'Lesson history' | trans }}</a>
								</li>
							</ul>
						</li>


						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								{{'Reservation' | trans }}
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="{{path('app_reservation_new')}}">{{'Make a reservation' | trans }}</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{path('app_reservation')}}">{{'See my reservations' | trans }}</a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								{{'Ticket' | trans }}
								<i class="fa-solid fa-ticket-simple ticket"></i>
								<span style="display:none;" class="ticket-number"></span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="{{path('app_ticket')}}">{{'Buy tickets' | trans }}</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{path('app_order_user_index')}}">{{'Ticket Purchase History' | trans }}</a>
								</li>
							</ul>
						</li>

						<li class="nav-item">
							<a class="btn btn-outline-primary nav_btn mt-2" href="{{path('app_logout')}}">{{'Logout' | trans }}</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="btn btn-outline-primary nav_btn mt-2" href="{{path('app_login')}}">{{'Login' | trans }}</a>
						</li>
						<li class="nav-item">
							<a class="btn btn-outline-primary nav_btn mt-2" href="{{path('app_register')}}">{{'Sign up for free lesson' | trans }}</a>
						</li>
					{% endif %}

					<li class="nav-item">
						<a class="btn btn-outline-primary nav_btn mt-2" href="{{path('app_contact')}}">{{'Contact' | trans }}</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</nav>
