<nav class="navbar navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="{{path('app_home')}}"><img class="logo" src="{{ vich_uploader_asset(setting) }}" title="Go to home" alt="Logo"></a>
  <ul class="navbar-nav flex-row px-3">
        <li class="nav-item text-nowrap mx-3">
          <a class="nav-link" href="{{path('app_home')}}">{{'Home' | trans }}</a>
        </li>
        <li class="nav-item text-nowrap mx-3">
          <a class="nav-link" href="{{path('app_logout')}}">{{'Logout' | trans }}</a>
        </li>
  </ul>
  </div>
</nav>
