<div class="left-sidebar">
	<ul class="nav flex-column">
		<li class="nav-item nav-item-back">
			<a class="nav-link-back" href="{{path('app_home')}}">
				<i class="fa-solid fa-desktop"></i>
				{{'Lesson room' | trans }}
			</a>
		</li>
		<li class="nav-item nav-item-back">
			<a class="nav-link-back" href="{{path('app_admin_reservation')}}">
			<i class="fa-solid fa-clock"></i>
				{{'Reservation' | trans }}</a>
		</li>
		<li class="nav-item nav-item-back">
			<a class="nav-link-back" href="{{path('app_schedule_index')}}">
				<i class="fa-solid fa-calendar-days"></i>
				{{'Schedule' | trans }}
			</a>
		</li>
		<li class="nav-item nav-item-back">
			<a class="nav-link-back" href="{{path('app_lesson_history')}}">
				<i class="fa-solid fa-person-chalkboard"></i>
				{{'Lesson history' | trans }}</a>
		</li>
		<li class="nav-item nav-item-back">
			<a class="nav-link-back" href="{{path('app_user_index')}}">
				<i class="fa-solid fa-user"></i>
				{{'Students' | trans }} </a>
		</li>
		<li class="nav-item nav-item-back">
			<a class="nav-link-back" href="{{path('app_setting_edit')}}">
				<i class="fa-solid fa-gear"></i>
				{{'Settings' | trans }}</a>
		</li>
		<li class="nav-item nav-item-back">
			<a class="nav-link-back" href="{{path('app_product_index')}}">
				<i class="fa-solid fa-tags"></i>
				{{'Ticket' | trans }}</a>
		</li>
		<li class="nav-item nav-item-back">
			<a class="nav-link-back" href="{{path('app_price_index')}}">
				<i class="fa-solid fa-hand-holding-dollar"></i>
				{{'Price' | trans }}</a>
		</li>
		<li class="nav-item nav-item-back">
			<a class="nav-link-back" href="{{path('app_order_index')}}">
				<i class="fa-solid fa-money-bill-1-wave"></i>
				{{'Ticket Purchase History' | trans }}</a>
		</li>

	</ul>
</div>
