{% extends 'base-admin.html.twig' %}
{% set page_title = 'Order' %}

{% block body %}
	<h1>Ticket Purchase History</h1>

	<div class="pagination mt-4">
		{{ knp_pagination_render(orders) }}
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>DateTime</th>
				<th>User</th>
				<th>Email</th>
				<th>Detail</th>
				<th>Price</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
				<tr>
					<td>{{ order.id }}</td>
					<td>{{ order.dateTime ? order.dateTime|date_modify(timeDifference)|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ order.user.lastname }}
						{{ order.user.firstname }}</td>
					<td>{{ order.user.email }}</td>
					<td>{{ "%02d"|format(order.product.ticketNumber) }}
						lesson(s)</td>
					<td>{{ "%02d"|format(order.product.price.price) }}
						{% if setting.currencySymbol is not null %}
							{{ setting.currencySymbol }}
						{% else %}
							{{ setting.currency }}
						{% endif %}
					</td>
					<td>{{ order.stripePayment is not null ? 'completed' : ''}}</td>
					<td>
						<a href="{{ path('app_order_show', {'id': order.id}) }}">show</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="pagination mt-4">
		{{ knp_pagination_render(orders) }}
	</div>
{% endblock %}
