{% extends 'base-admin.html.twig' %}
{% set page_title = 'Order' %}

{% block body %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>DateTime</th>
                <td>{{ order.dateTime ? order.dateTime|date_modify(timeDifference)|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>StripSessionId</th>
                <td>{{ order.stripePayment is not null ? order.stripSessionId : ''  }}</td>
            </tr>
            <tr>
                <th>StripePayment amount_total</th>
                <td>{{ order.stripePayment is not null ? paymentObject.amount_total / 100 : ''}}</td>
            </tr>
             <tr>
                <th>StripePayment customer email</th>
                <td>{{ order.stripePayment is not null ? paymentObject.customer_details.email : ''}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_order_index') }}">back to list</a>
{% endblock %}
