{% extends 'base.html.twig' %}
{% set page_title = 'Ticket Purchase History' | trans %}

{% block body %}
	<h1>{{'Ticket Purchase History' | trans }}</h1>

	<table class="table mt-5">
		<thead>
			<tr>
				<th>{{'Purchase Id' | trans }}</th>
				<th>{{'Purchase Date' | trans }}</th>
				<th>{{'Purchase Item' | trans }}</th>
				<th>{{'Price' | trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
				<tr>
					<td>{{ order.id }}</td>
					<td>{{ order.dateTime ? order.dateTime|date_modify(timeDifference)|date('Y-m-d H:i') : '' }}</td>
					<td>{{ "%02d"|format(order.product.ticketNumber) }} lesson(s)</td>
					<td>{{ "%02d"|format(order.product.price.price) }}
							{% if setting.currencySymbol is not null %}
								{{ setting.currencySymbol }}
							{% else %}
								{{ setting.currency }}
							{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">No purchase history yet</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
