<p>Client :
	{{orders[0].userInfo.lastname}}
	{{orders[0].userInfo.firstname}}
</p><br>
{% for order in orders %}
	<p>Commande n°{{order.id}}
		du
		{{order.orderDateTime |  date('d/m/Y')}}
		à
		{{order.orderDateTime | date('H:i')}}</p>

	<p>Produit :
		{{order.product.name}}</p>
	<p>Quantité :
		{{order.quantity}}</p>
	<p>Pick up :
		{{order.pickUpDateTime}}</p>
{% endfor %}</p>
