{% extends 'base-admin.html.twig' %}

{% block title %}Edit Customer information
{% endblock %}

{% block body %}
	<h1 class="my-3">Edit User</h1>
	{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_user_index') }}">back to list</a>

	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
