{% extends 'base-admin.html.twig' %}
{% set page_title = 'Students' | trans %}

{% block body %}
	<h1>{{'Students' | trans }}</h1>

	<div class="pagination mt-4">
		{{ knp_pagination_render(users) }}
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>{{'Id' | trans }}</th>
				<th>{{'Last Name' | trans }}</th>
				<th>{{'First Name' | trans }}</th>
				<th>{{'Email' | trans }}</th>
				<th>{{'Ticket' | trans }}</th>
				<th>{{'Time zone' | trans }}</th>
				<th>{{'Language' | trans }}</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.lastname }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.ticket }}</td>
					<td>{{ user.timezone }}</td>
					<td>{{ user.locale }}</td>
					<td>
						<a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
						<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="pagination mt-4">
		{{ knp_pagination_render(users) }}
	</div>
	<a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
